@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Nunito+Sans:wght@300;600;800&display=swap');

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
input[type='checkbox']{
    display: none;
}
.cursor-pointer{
    cursor: pointer;
}