<div class="home d-flex flex-column overflow-hidden w-100 h-100">
    <app-header></app-header>
    <main class="flex-grow-1 d-flex flex-column flex-md-row align-items-center justify-content-around">
        <div class="text-white px-4 px-md-0">
            <p class="mb-0 text-uppercase font-xxl">So you want to Travel</p>
            <h1 class="mb-0 space">Space</h1>
            <p class="home-paragraph mb-0">
                Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
            </p>
        </div>
        <div class="explore">
            <p class="mb-0">Explore</p>
        </div>
    </main>
</div>
